@import url("https://fonts.googleapis.com/css?family=Open+Sans")
@import url("https://fonts.googleapis.com/css?family=Coming+Soon")

// container(base-size)
//   margin 0 auto
//   width base-size !important

$disabled-color = rgb(120, 120, 120)
$enabled-color = rgb(50, 50, 50)

*
  margin 0
  padding 0

body
  font-family: 'Open Sans', sans-serif
  background rgb(210, 210, 210)

.app
  min-height 100vh
  display flex
  flex-direction column
  align-items center
  justify-content center
