.add-task
  background peachpuff
  width 300px
  box-sizing border-box
  display flex
  &__input
    flex-grow 1
    font-size 1rem
    padding 5px
    outline 1px solid rgb(247, 175, 165)
  &__submit
    width 30px
    background rgb(247, 175, 165)
    outline none
    border 1px solid rgb(247, 175, 165)
    font-size 1.3rem
    color rgba(0, 0, 0, .5)
