@media (max-width: 980px)
  .todo
    width 90%
    margin 15px auto
  .add-task
    width 80%
    margin 10px auto
  .header
    &__title
      font-size 4rem
    &__description
      font-size 1rem
