.header
  text-align center
  &__title
    font-size 3rem
    font-weight bold
  &__description
    font-family: 'Coming Soon', cursive
    font-size .7rem
    margin 10px 0
    color rgba(0, 0, 0, .7)
